.FavCol h3 {
  background: none !important;
}

div.header a {
  color: black !important;
}

A:link {
  text-decoration: none;
}

#netHijack{
  display:none !important;
}

.Outer_Nav {
  border: none !important;
}

.Navigation {
  margin-left: 0px !important;
  padding-right: 5px;
}

.NetHeading {
  background-color: none !important;
  background-image: none !important;
  background: none !important;
}

div.LocalNav {
  width: 163px !important;
}

div.LocalNav ul li {
  width: 85% !important;
}

li {
  list-style-type:none;
}

.ColumnSet h3 {
  background: none !important;
}

#fade {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  z-index: 5000;
}

#dialog {
  padding: 5px;
  color: #fff;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 1);
  z-index:5001;
  width: 267px;
  min-height: 150px;
}

#dialog h1 {
  border-bottom: 1px solid #fff;
}

#dialog p {
  padding-top: 10px;
}

#dialog input{
  margin-top: 15px;
  background-color: #fff;
  font-size: 24px;
}

.selectList {
  font-size: 10px;
  float: right;
}
