.ColumnSet ul li {
  margin-bottom: 0px;
}

.ColumnSet h3 {
  padding: 5px 0px;
  border: none;
}

.ColumnSet div {
  background-color: #FFF;
  border: 1px solid #E4E4E4;
}

.ColumnSet ul {
  padding-left: 10px;
  list-style-type: none;
}

.ColumnSet ul a {
  color: #6B6A6A;
}

.FLeft h1,
.FLeft h2,
.FLeft h3, 
.Content h1,
.Content h2,
.Content h3 {
  line-height: 1;
}
