li {
  list-style-type: none;
}

div.header a {
  color: black !important;
}

#fade {
  display: none;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

#dialog {
  padding: 10px;
  color: #fff;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 1);
  z-index:5001;
  width: 270px;
  min-height: 220px;
}

#dialog h1 {
  border-bottom: 1px solid #fff;
}
#dialog button {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-top: 15px;
}
#dialog p {
  padding-top: 5px;
  padding-bottom: 5px;
}

#dialog input{
  margin-top: 15px;
  background-color: #fff;
  font-size: 24px;
}

.sL {
  font-size: 10px;
  float: right;
  margin-top: -20px;
  color: #B0B0B0;
}
.sL li, a:link {
  text-decoration: none;
  display: inline;
}
.sL a:visited, .sL a:link {
  color: #B0B0B0;
}
.gE a:link, .gE a:visited, .gE {
  color: #B41D66;
}
.xE a:link, .xE a:visited, .xE {
  color: #0092FB;
}
