select,
input,
textarea {
  width: auto;
}
.FLeft h1,
.FLeft h2,
.FLeft h3, 
.Content h1,
.Content h2,
.Content h3 
{
  line-height: 1 !important;
}

.btnPad button,
.btn-group {
  margin: 5px 0px 0px 5px;
}

body {
  padding-top: 48px;
}

.nav a {
  color: #0088cc !important;
}

.specialOp {
  background-color: rgb(242,242,242);
  -webkit-border-radius:10px;
  margin: 5px;
  padding-bottom: 5px;
}

.srchResults {
  width: 750px;
}

.searchItem {
  background-color: rgb(248,248,248);
  -webkit-border-radius:10px;
  margin-bottom: 10px;
  padding: 5px;
  -webkit-border-radius: 5px;
}

.searchItem tr {
  background: none !important;
}

.portTable {
  width: 650px;
}

#updateProgressMsg {
  color: #1F5C99;
  font-size: 10px;
}

td.NoWrap input.btn {
  width: 150px;
}

.Content .alert {
  width: 615px;
}

#screen{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000000;
  z-index: 1;
}
#load {
 display:none;
 z-index:2;
}

.modal h2,
.modal h4 {
  display: inline-block;
}
