body, html{
  margin: 0;
  padding: 5px;
  background: #fff;
  width: 300px;
}

.inputForm{
  margin: 0px auto;
  padding: 5px;
  color: black;
  font-family: 'Verdana';
  font-size: 12px;
}

#wrapper {
  width: 290px;
}

.formEl {
  padding-top: 5px;
}

.button{
  margin-top: 20px;
}

#customDateField {
  display: none;
}

.tabber{
  display: none;
}
