<div id="updateProgressAlert" class="alert alert-info" style="display: none;">
  <h4>
    Updating Switches:  
    <span id="updateProgressMsg"> Generating Request</span> 
  </h4>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <div class="progress progress-striped active" id="updateProgressCont">
    <div class="bar" id="updateProgressBar" style="width:5%;"></div>
  </div>
</div>
