<div id="updateProgressAlert" class="alert alert-info" style="display: none;">
  <h4>
    {{action}}:  
    <span id="updateProgressMsg"> {{status}}</span> 
  </h4>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <div class="progress progress-striped active" id="updateProgressCont">
    <div class="bar" id="updateProgressBar" style="width:1%;"></div>
  </div>
  <div class="progress progress-success progress-striped active" id="updateProgressCont">
    <div class="bar" id="updateProgressBarTotal" style="width:1%;"></div>
  </div>
</div>
