<div class="Outer_Nav">
  <div class="Navigation">
    <div class="LocalNav FSmall">
      <ul>
        {{#each .}}
          <li class="{{class}}">
            <a id="{{id}}" style="{{style}}">
              {{title}}
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  
  <div class="Main">
    <div class="Content ntgTool"></div>
  </div>
</div>
