<div class="alert alert-info" id="updateProgressAlert" style="display:none"
  <h4>
    {{title}}
    <p>
      <span id="updateProgressMsg">{{msg}}</span>
    </p>
  </h4>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <div class="progress progress-striped active" id="updateProgressCont">
    <div class="bar" id="updateProgressBar" style"width:0%"></div>
  </div>
</div>

