<tr id="row_{{num}}" class="tagSet">
  <td>
    <a>{{num}}</a>
  </td>
  <td class="Tag">
    <input type="text" name="Tag" class="Tag" placeholder="Tag" size="8" required>
  </td>
  <td class="DNS">
    <input type="text" name="DNS" class="DNS" placeholder="DNS Name" size="16" required>
  </td>
  <td class="IP">
    <input type="text" name="IP" class="IP" placeholder="IP Address" size="16" required>
  </td>
  <td class="status">
  </td>
</tr>
